/* Colors */

$blue: #1877F2;
$dark-blue: #0A4275;
$light-green: #42B72A;
$gray: rgb(242, 243, 245);
$med-gray: #e7e4e4;
$dark-gray: #565758;
$white: #f6f5f5;
$black: #312e2e;

/* Font weight */

$reg: 400;
$med: 500;
$bold: 700;

/* Font size */
$font-small: 0.8rem;
$font-med: 1.4rem;
$font-big: 2rem;